.container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
  display: grid;
  place-items: center;

  .detail {
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > img {
      height: 160px;
      border-radius: 5px;
      margin-right: 20px;
      aspect-ratio: 1.5/1;
      object-fit: cover;
    }
    .textBox {
      > h3 {
        margin-top: 24px;
        margin-bottom: 5px;
        font-size: 26px;
        font-weight: 700;
      }
      > h4 {
        font-size: 20px;
        margin-block: 0;
      }
    }
    .vanType {
      height: 34px;
      padding: 6px 26px;
      font-weight: 600;
      font-style: normal;
      border: none;
      border-radius: 5px;
      background-color: #ffead0;
      color: #fffdfd;
      transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
      font-size: 1.3rem;
    }
    .simple {
      background-color: #e17654;
    }
    .rugged {
      background-color: #115e59;
    }
    .luxury {
      background-color: #161616;
    }
  }
}

.nav {
  display: flex;
  margin-block: 25px;
  a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 1.2rem;
    &:first-of-type {
      text-decoration: none;
      color: #4d4d4d;
      font-weight: 500;
      padding: 5px 15px;
      margin-left: -15px;
    }
    :hover {
      color: #161616;
      text-decoration: underline;
      font-weight: 700;
    }
  }
  .active {
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  }
}
